section.delivery
  .container.clearfix
    .delivery__content
      h2.title Тимьян и Розмарин
        span - доставка готовой еды
      .delivery__text
        p Ясность нашей позиции очевидна: семантический разбор внешних противодействий является качественно новой ступенью модели развития.
      .clearfix
        .delivery__col
          .delivery__item.dish
            h5 Профессиональные повара
            p Для вас готовят профессионалы высокого класса, которые действительно любят свое дело.
        .delivery__col
          .delivery__item.cheese
            h5 Строгие стандарты качества
            p Неизменно высокий уровень производства, строжайший контроль качества на всех этапах и только свежие продукты.
    .delivery__img
      img(src="uploads/main-page/delivery-img.png", width="380", height="438", alt="PRoduct image")


