meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet", href="styles/reset.css")
link(rel="stylesheet", href="styles/fonts.css")
link(rel="stylesheet", href="libs/slick/slick.css")
link(rel="stylesheet", href="libs/slick/slick-theme.css")
link(rel="stylesheet", href="libs/aos-master/aos.css")
link(rel="stylesheet", href="styles/style.css")
