section.offers
  .container
    h2.title Специальные предложения
    .offers__slider
      .offers__slide
        .offers__item.clearfix
          .label
            svg(width="15", height="20")
              use(xlink:href="#ic-fire")
            span спецпредложение
          .offers__img
            img(src="uploads/main-page/offers-img.png", alt="Product image")
          .offers__content
            h5 Чизбургер Де Люкс оригинальный
            .offers__text
              p Булочка с кунжутом, котлета куриная, свежий помидор, сыр чеддер, лист салата, два вида соуса. (maxi — 125 мм, standart — 100 мм)
            .offers__bt
              span.price 99
                small ₽
              strike 120
                small ₽
              .btn-wrapper
                a(href="#").btn.btn--sm.btn--basket
                  span
                    svg(width="25", height="25")
                      use(xlink:href="#ic-basket")
                    | В корзину
      .offers__slide
        .offers__item.clearfix
          .label
            svg(width="15", height="20")
              use(xlink:href="#ic-fire")
            span спецпредложение
          .offers__img
            img(src="uploads/main-page/offers-img.png", alt="Product image")
          .offers__content
            h5 Чизбургер Де Люкс оригинальный
            .offers__text
              p Булочка с кунжутом, котлета куриная, свежий помидор, сыр чеддер, лист салата, два вида соуса. (maxi — 125 мм, standart — 100 мм)
            .offers__bt
              span.price 99
                small ₽
              strike 120
                small ₽
              .btn-wrapper
                a(href="#").btn.btn--sm.btn--basket
                  span
                    svg(width="25", height="25")
                      use(xlink:href="#ic-basket")
                    | В корзину
      .offers__slide
        .offers__item.clearfix
          .label
            svg(width="15", height="20")
              use(xlink:href="#ic-fire")
            span спецпредложение
          .offers__img
            img(src="uploads/main-page/offers-img.png", alt="Product image")
          .offers__content
            h5 Чизбургер Де Люкс оригинальный
            .offers__text
              p Булочка с кунжутом, котлета куриная, свежий помидор, сыр чеддер, лист салата, два вида соуса. (maxi — 125 мм, standart — 100 мм)
            .offers__bt
              span.price 99
                small ₽
              strike 120
                small ₽
              .btn-wrapper
                a(href="#").btn.btn--sm.btn--basket
                  span
                    svg(width="25", height="25")
                      use(xlink:href="#ic-basket")
                    | В корзину
      



