section.process
  .container
    h6 Как  Вы получаете готовую еду
    .clearfix
      .process__col(data-aos="fade-up", data-aos-offset="300", data-aos-duration="1000")
        .process__item
          .process__img
            img(src="uploads/main-page/process-img-1.png", alt="Office manager icon")
          .process__content
            p Выбираете подходящие блюда
      .process__col(data-aos="fade-up", data-aos-offset="300", data-aos-duration="1000")
        .process__item
          .process__img
            img(src="uploads/main-page/process-img-2.png", alt="Man icon")
          .process__content
            p Получаете готовые блюда прямо к двери
      .process__col(data-aos="fade-up", data-aos-offset="300", data-aos-duration="1000")
        .process__item
          .process__img
            img(src="uploads/main-page/process-img-3.png", alt="Woman icon")
          .process__content
            p Наслаждаетесь волшебными блюдами