section.promo
  .promo__slider
    .promo__slide
      .container.clearfix
        .promo__content
          h3
            span Две пиццы по цене
            br
            span одной
          a(href="#").btn.btn--lg
            span Перейти в меню
        .promo__img
          img(src="uploads/main-page/promo-img.png", width="636", height="351" alt="Product image")
    .promo__slide
      .container.clearfix
        .promo__content
          h3
            span Теперь в меню доступны
            br
            span сеты и роллы
          a(href="#").btn.btn--lg
            span Перейти в меню
        .promo__img
          img(src="uploads/main-page/promo-img.png", width="636", height="351" alt="Product image")
    .promo__slide
      .container.clearfix
        .promo__content
          h3
            span Бесплатная доставка
            br
            span от 500 руб.
          a(href="#").btn.btn--lg
            span Перейти в меню
        .promo__img
          img(src="uploads/main-page/promo-img.png", width="636", height="351" alt="Product image")
    .promo__slide
      .container.clearfix
        .promo__content
          h3
            span Приглашаем на работу
            br
            span водителей с автомобилем
          a(href="#").btn.btn--lg
            span Перейти в меню
        .promo__img
          img(src="uploads/main-page/promo-img.png", width="636", height="351" alt="Product image")
  .promo__nav
    .promo__nav-item
      a(href="#").clearfix
        .num 01
        .label Акция!
        .promo__nav-item-img
          .promo__nav-item-bg
          img(src="uploads/main-page/promo-slide-nav-img-1.png", alt="Product image")
        span Две пиццы по цене
          br
          | одной
    .promo__nav-item
      a(href="#").clearfix
        .num 02
        .promo__nav-item-img
          .promo__nav-item-bg
          img(src="uploads/main-page/promo-slide-nav-img-2.png", alt="Product image")
        span Теперь в меню доступны сеты и роллы
    .promo__nav-item
      a(href="#").clearfix
        .num 03
        .promo__nav-item-img
          .promo__nav-item-bg
          img(src="uploads/main-page/promo-slide-nav-img-3.png", alt="Product image")
        span Бесплатная доставка  от 500 руб.
    .promo__nav-item
      a(href="#").clearfix
        .num 04
        .promo__nav-item-img
          .promo__nav-item-bg
          img(src="uploads/main-page/promo-slide-nav-img-4.png", alt="Product image")
        span Приглашаем на работу водителей с автомобилем














