doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="styles/reset.css")
    link(rel="stylesheet", href="styles/fonts.css")
    link(rel="stylesheet", href="styles/style.css")
    title= titleCatalog
  
  body
    include includes/svg
    include includes/header
    .container
        include includes/banner
        ul.breadcrumbs
            li: a(href="index.html") Главная 
            li: span - Суши
        include includes/catalog-gallery
    include includes/map
    include includes/footer
    
    script(src="libs/jquery/jquery-3.4.1.min.js")
    script(src="libs/slick/slick.min.js")
    script(src="libs/matchHeight/matchHeight.js")
    script(src="js/main.js")
    
