doctype html
html(lang="ru")
  head
    include includes/head
    title= title
  
  body
    include includes/svg
    include includes/header
    include includes/promo
    include includes/gallery
    include includes/delivery
    include includes/processing
    include includes/offers
    include includes/map
    include includes/footer
    
    script(src="libs/jquery/jquery-3.4.1.min.js")
    script(src="libs/slick/slick.min.js")
    script(src="libs/aos-master/aos.js")
    script(src="js/main.js")
    
